body{
  margin:0;
  font-family: Arial, Helvetica, sans-sherif;
  font-family: 'Baskervville', serif;
}

html{
  background-color: inherit;
}

.nav{
  overflow:hidden;
  background: #9cb380;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #d4e09b;
  color: black;
}

.nav a.active {
  background-color: #a44a3f;
  color: white;
}

.intro{

  display: inline-block;
  text-align: center;
  text-size:2em;
  padding-top: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

  @media only screen and (max-width: 600px) {
    body {
      background-color: #c7ac92;
      text-size: 1em;
    }
  }


  @media only screen and (max-width: 1028px) {
    body {
      background-color: white;
      text-size: 2.5em;
    }
  }
