body{
  margin:0;
  font-family: Arial, Helvetica, sans-sherif;
  font-family: 'Baskervville', serif;
}

html{
  background-color: inherit;
}

#p1{
  fpadding-top: 25px;
  color: #9ACD32;
  font-size:1em;
  font-weight: bold;
  text-align: left;
}

#p2{
border-left: 15px solid #9ACD32;
background-color: #d0dbb8;

}

#p3{
  padding-top: 900px;
  color: #9ACD32;
  font-size:1em;
  font-weight: bold;
  text-align: left;
  padding-top:30px;

}

#p4{
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  border-left: 15px solid #9ACD32;
  background-color: #d0dbb8;
}

#p5{
padding-top: 25px;
color: #FFFF99;
font-size:1em;
font-weight: bold;
text-align: center;
}

#p6{
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  border-left: 15px solid #FFFF99;
  background-color: #fafadc;
}



.nav{
  overflow:hidden;
  background: #659dbd;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #d4e09b;
  color: black;
}

.nav a.active {
  background-color: #FFFF99;
  color: white;
}

.intro{
  display: inline-block;
  text-align: center;
  text-size:2em;
  padding-top: 75px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;

}

div.images {
  border: 1px solid #ccc;
}

div.images:hover {
  border: 1px solid #777;
}

div.images img {
  width: 100%;
  height: auto;
  border-style:ridge;
  border-color:#659dbd;
  border-width:thick;
}

div.desc {
  padding: 15px;
  text-align: center;
  border-style: ridge;
  border-color: #9ACD32;
  color:#f5c71a;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  padding-bottom: 35px;
}


  @media only screen and (max-width: 600px) {
    body {
      background-color:white;
      font-size: 1em;
      }

      .responsive{
        width:50%;
        margin:6px 0;
      }

      .p1{
        font-size:1.5em;
      }
    }



  @media only screen and (min-width: 800px) {
    body {
      background-color: white;
      font-size: 1.5em;
    }

  }
