body{
  margin:0;
  font-family: Arial, Helvetica, sans-sherif;
}

.nav{
  overflow:hidden;
  background: #9cb380;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #d4e09b;
  color: black;
}

.nav a.active {
  background-color: #a44a3f;
  color: white;

.introparagraph{

  display: inline-block;
  text-align: center;
  text-size:2em;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 25px;

}
